.counterButton{
    font-size: 16px;
    background-color: azure;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 80px;
    color: green;
    border-color: black;
    border-width: 5px;
}

.Counter{
   font-size: 100px;
   padding: 10px;

}

.minusButton{
    font-size: 16px;
    background-color: azure;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 80px;
    color: red;
    border-color: black;
    border-width: 5px;
}

.resetButton{
    font-size: 16px;
    background-color: grey;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 80px;
    color: white;
    border-color: grey;
    border-width: 5px;
}